.app {
  height: 100%;
  background: color-mix(in srgb, var(--surface) 40%, transparent);
  backdrop-filter: blur(12px);
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  padding: 1rem;

}



.header {
  grid-area: header;
  height: 64px;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.footer {
  grid-area: footer;
  padding: 2rem;
}